header

    a.title(href='./')
      h1.main hamburg.freifunk.net

    nav
      ul
        li
          a(href='#') karte
        li
          a(href='#') FAQ
        li
          a(href='#') Wiki
        li
          a(href='#') Kontakt





