header

    a.title(href='./')
      h1.main hamburg.freifunk.net

    nav
      ul
        li
          a(href='http://freifunk-gw01.hamburg.ccc.de/ffhhmap/geomap.html') Karte
        li
          a(href='http://wiki.freifunk.net/Freifunk_Hamburg') Wiki
        li
          a(href='mailto:kontakt@hamburg.freifunk.net') Kontakt





