header

    a.title(href='./')
      h1.main hamburg.freifunk.net

    nav
      ul
        li
          a(href='http://goo.gl/6nlDF') Karte
        li
          a(href='http://wiki.freifunk.net/Freifunk_Hamburg') Wiki
        li
          a(href='mailto:kontakt@hamburg.freifunk.net') Kontakt





