#bar
  h3 how2flash

#content

    
    h3
      a(name='eigener') Einen eigenen Router aufstellen
    :markdown
      Du möchtest am Freifunknetzwerk teilnehmen und einen eigenen Router aufstellen?
      Nichts leichter als das!

      Im Prinzip funktioniert Freifunk auf einer Vielzahl von Geräten,
      wir haben uns allerdings auf bestimmte Modelle spezialisiert, 
      um den Aufwand gering zu halten.  
      An dieser Stelle wollen wir erstmal nur zwei Router vorstellen:

      *   TP-Link TL-WR741N / TL-WR741ND
      *   TP-Link TL-WR841N / TL-WR841ND
      *   TP-Link TL-WR842ND






