#bar
  ul
    li
      a(href='#was') Freie Kommunikation!
    li
      a(href='#wo') Freifunk in Hamburg!
    li
      a(href='#mitmachen') Mach mit!


#content

    h3
      a(name='was') Was ist freifunk?
    :markdown
      Freifunk ist eine nicht-kommerzielle Initiative für freie Funk- und Datennetzwerke.
      In vielen deutschen Städten gibt es bereits Freifunknetze.  
      Freifunk steht jedem Menschen offen, sei es als Nutzer_in oder als aktive_r Unterstützer_in
      durch eigene Freifunk-Knoten.
      Als Freifunk-Knoten dient ein dafür vorbereiteter WLAN-Router
      oder ein anderes WLAN fähiges Gerät. Die Vorbereitung ist einfach selbst durchzuführen,
      oder durch Hilfestellung unserer Gemeinschaft, z.B. in Form von vorbereiteten 
      WLAN-Routern zum Selbstkostenpreis.  
      Das Freifunk-Netz entsteht ohne zentrale Infrastruktur , ist unkomerziell
      und lebt von einer aktiven Gemeinschaft.

    h3
      a(name='wo') Wo ist freifunk?

    | <a href="http://goo.gl/6nlDF" target="_blank"> <img src="./img/Karte.png", width="95%"></a>

    h3
      a(name='mitmachen') Wie kann ich mitmachen?
    :markdown
      Alle Menschen können Freifunker_innen werden, besondere technische Kenntnisse sind nicht notwendig.
      Es gibt viele Möglichkeiten mitzuwirken:  

      *   Besuche uns auch auf, auf [Facebook](https://facebook.com/FreifunkHamburg) oder [indenti.ca](https://identi.ca/ffhh).
      *   Werde ein Teil des Netzwerks, indem du bei dir im Haus einen Freifunk-Knoten aufstellst.  
          Informationen zu empfohlenen Routern und der speziellen Freifunk-Firmware findest du im [Wiki](http://wiki.freifunk.net/Freifunk_Hamburg).
      *   Komme zu unserem Treffen jeden Montag um 19:00 Uhr in den [Räumen des CCCHH](http://www.hamburg.ccc.de/wegbeschreibung)  
          Wenn Ihr mit ÖPNV anreist, nehmt die U3 bis "Mundsburg".
          Von dort sind es ca. 8 Minuten zu Fuß. Der Eingang zur Humboldtstraße 53 liegt in einem Innenhof, den Ihr durch eine Tor-Einfahrt erreicht.




