#bar
  ul
    li
      a(href='#was') Freie Kommunikation!
    li
      a(href='#wo') Freifunk in Hamburg!
    li
      a(href='#mitmachen') Mach mit!


#content

    #news
      h3 Freifunk Geekend 22.-24. März
      time(datetime='2013-03-14') Freitag, 22.03.2013 ab 18:30 Uhr bis Sonntag, 24.03.2013 17:00 Uhr

      h4 Kreatives Zusammenarbeiten and der TUHH

      | <a href="http://wiki.freifunk.net/Freifunk_Hamburg/Geekend0" target="_blank"> <img src="./img/ffwe.png", width="100%"></a>
      :markdown
        An der TUHH stehen Räume für kreatives Zusammenarbeiten offen.
        Besucher sind jederzeit willkommen! Es gibt: Getränke, Sa und So offenes Buffet, 
        Schlafmöglichkeiten sind in begrenzter Anzahl vorhanden.
        Wir freuen uns auf euer zahlreiches Erscheinen!
        
        Mehr Infos und eine Liste zum Anmelden gibt im [Wiki](http://wiki.freifunk.net/Freifunk_Hamburg/Geekend0)

    h3
      a(name='was') Was ist Freifunk?
    :markdown
      Freifunk ist eine nicht-kommerzielle Initiative für freie Funk- und Datennetzwerke.
      In vielen deutschen Städten gibt es bereits Freifunknetze.  
      Freifunk steht jedem Menschen offen, sei es als Nutzer_in oder als aktive_r Unterstützer_in
      durch eigene Freifunk-Knoten.
      Als Freifunk-Knoten dient ein dafür vorbereiteter WLAN-Router
      oder ein anderes WLAN fähiges Gerät.  
      Die Vorbereitung ist einfach selbst durchzuführen,
      oder durch Hilfestellung unserer Gemeinschaft, z.B. in Form von vorbereiteten 
      WLAN-Routern zum Selbstkostenpreis.  
      Das Freifunk-Netz entsteht ohne zentrale Infrastruktur, ist nicht kommerziell
      und lebt von einer aktiven Gemeinschaft.

    h3
      a(name='wo') Wo ist freifunk?

    | <iframe src="http://freifunk-gw01.hamburg.ccc.de/ffhhmap/geomap.html" width="95%" height="450" name="Knotenkarte"></iframe>
    h5 (Einfach mittels Doppelklick, dem Mausrad, oder den +/- Buttons in die Karte hineinzoomen)
    h3
      a(name='mitmachen') Wie kann ich mitmachen?
    :markdown
      Alle Menschen können Freifunker_innen werden, besondere technische Kenntnisse sind nicht notwendig.
      Es gibt viele Möglichkeiten mitzuwirken:  

      *   Werde ein Teil des Netzwerks, indem du bei dir im Haus einen Freifunk-Knoten aufstellst.  
          Informationen zu empfohlenen Routern und der speziellen Freifunk-Firmware findest du im [Wiki](http://wiki.freifunk.net/Freifunk_Hamburg).
      *   Komm zu unseren Treffen: jeden Montag um 19:00 Uhr in den [Räumen des CCCHH](http://www.hamburg.ccc.de/wegbeschreibung)  
          Wenn Ihr mit ÖPNV anreist, nehmt die U3 bis "Mundsburg".
          Von dort sind es ca. 8 Minuten zu Fuß. Der Eingang zur Humboldtstraße 53 liegt in einem Innenhof, den Ihr durch eine Tor-Einfahrt erreicht.
      *   Du kannst auch unsere [Mailingliste](https://www.hamburg.ccc.de/mailman/listinfo/freifunk) abonnieren oder uns im [IRC](irc://irc.eu.hackint.org/#ffhh) finden.
      *   Besuche uns auch auf [Facebook](https://facebook.com/FreifunkHamburg) oder [indenti.ca](https://identi.ca/ffhh).




