#bar
  ul
    li
      a(href='#was') Freie Kommunikation, die
    li
      a(href='#wo') <br />unsere Stadt vernetzt.
    li
      a(href='#mitmachen') <br /><br />Mach mit!


#content

    h3
      a(name='was') Was ist freifunk?
    :markdown
      Freifunk ist eine nicht-kommerzielle Initiative für freie Funk- und Datennetzwerke.
      In vielen deutschen Städten gibt es bereits Freifunknetze.  
      Freifunk steht jedem Menschen offen, sei es als Nutzer oder als aktiver Unterstützer
      durch eigene Freifunk-Knoten.
      Als Freifunk-Knoten dient ein dafür vorbereiteter WLAN-Router
      oder ein anderes WLAN fähiges Gerät. Die Vorbereitung ist einfach selbst durchzuführen,
      oder durch Hilfestellung unserer Gemeinschaft, z.B. in Form von vorbereiteten 
      WLAN-Routern zum Selbstkostenpreis.  
      Das Freifunk-Netz entsteht ohne zentrale Infrastruktur , ist unkomerziell
      und lebt von einer aktiven Gemeinschaft.

    h3
      a(name='wo') Wo ist freifunk?

    img(src='./img/map.png', width='95%')

    h3
      a(name='mitmachen') Wie kann ich mitmachen?
    :markdown
      Alle Menschen können Freifunker werden, besondere technische Kenntnisse sind nicht notwendig.
      Es gibt viele Möglichkeiten mitzuwirken:  

      *   Besuche Freifunk Hamburg auf [hamburg.freifunk.net](http://hamburg.freifunk.net) , auf Facebook, indenti.ca oder Twitter .
      *   Router aufstellen
      *   Werde ein Teil des Netzwerks, indem du bei dir im Haus einen Freifunk-Knoten aufstellst.
          Informationen zu empfohlenen Routern und der speziellen Freifunk-Firmware findest du auf www.hamburg.freifunk.net




