@media screen and (max-width: 800px) {
  #bar ul li {
    width: 100%;
  }
  header {
    background: transparent !important;
    padding: 10px;
  }
  header .title .main {
    font-size: 1.8em;
  }
  header nav ul li {
    font-size: 0.7em;
  }
  #content {
    padding: 0 5px;
  }
  #content #left {
    display: inline;
    float: left;
    overflow: hidden;
    width: 940px;
    margin: 0 10px;
    *width: 940px -correction;
    *margin: 0 10px -correction;
  }
  #content #right {
    display: inline;
    float: left;
    overflow: hidden;
    width: 940px;
    margin: 0 10px;
    *width: 940px -correction;
    *margin: 0 10px -correction;
  }
}
