@media screen and (max-device-width: 480px)
  #bar
    ul li
      width: 100%
  header
    background: transparent !important
    padding: 10px
    margin-top: 0px


    .title
      .main
        font-size: 1.8em

    nav
      ul li
        font-size: 0.7em


  #content
    padding: 0 5px

    #left
      column(12)

    #right
      column(12)
