@import '_settings'

normalize()
base()

grid()

darkgray = #333333
lightgray = #918e8e
white = #ffffff
pink = #dd0066

body
  background-color: rgb(237,237,237)
  overflow-x: hidden
  //font-family: 'avenir'
  font-family: 'SourceCodeProRegular'
  color: darkgray
  -webkit-animation: fadeIn 1s ease


header
  padding-top: 10px
  padding-bottom: 20px
  padding-left: 30px
  max-width: 960px
  max-height: 150px
  margin: 0 auto
  margin-top: 20px
  background: url(../img/skyline.svg) no-repeat right top
  background-size: contain

  .title
    reset-link()

    .main
      font-size: 3em
      font-weight: normal
      font-family: 'SourceCodeProLight'


  nav
    text-align: right
    ul
      inline-list()
      color: lightgray
      font-size: 2em
      li
        display: inline-block
        padding-left: 30px
        a
          color: lightgray
          text-decoration: none
          transition()

#bar
  background: darkgray
  color: white
  padding: 30px

  ul
    inline-list(0px)
    max-width: 900px
    margin: 0 auto
    font-size: 1.3em
    //height: 40px
    li
      display: inline-block
      width: 33%
      text-align: center
      a
        color: white
        text-decoration: none
        display: block
        hover-lighten: 30%
        transition()



#content
  max-width: 900px
  padding: 0 40px
  margin: 0 auto
  margin-bottom: 160px

  h3
    font-weight: normal
    color: pink
    font-size: 2em
    margin-bottom: 11px
    //margin-top: 25px
    padding-top: 25px

  p
    color: darkgray
    font-family: 'georgia'
    text-align: justify
    font-size: 1.2em
    line-height: 1.4em

  img
    border: 5px solid darkgray
    margin-top:11px

  #left
      column(6)

  #right
      column(6)

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1


@import "adaptive"
@import "fonts"
